html 
{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body 
{
    background-color: grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url('../img/img01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-weight: 300;
    margin: 0 !important;
    padding: 0;
    color: #fff;
}

.nav .logo
{
    position: absolute;
    justify-content: left;
    height: 40px;
    left: 0px;
    top: 0px;
}

.nav
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #000;
    justify-content: right;
    text-align: center;
    justify-items: center;
    right: 0;
    padding: 0;
    opacity: 0.8;
}

#content
{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url('../img/img02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#content h1
{
    font-size: 5em;
    font-weight: 400;
    line-height: 1.5em;
}

#content h2
{
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5em;
}

#content .button
{
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 20px;
}

#content .button:hover
{
    background-color: #000;
    opacity: 0.8;
    border: #000 1px solid;
}

.nav ol
{
    position: absolute;
    justify-content: right;
    float: right;
    position: absolute;
    margin-right: 0px;
    padding: 0;
    margin: 0;
    right: 0px;
    list-style-type: none;
    font-size: 18px;
    height: 40px;
    text-align: center;
}

.nav ol a
{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}

.nav ol > li
{
    width: 100px;
    height: 40px;
    display: inline-block;
    right: 10px;
}

.nav ol > li:hover
{
    background-color: grey;
    color: #000;
}

.nav ol > li:hover a
{
    color: white;
    text-decoration: none;
}

.footer
{
    padding: 10px;
    text-align: right;
    font-size: 13px;
}

.section {
    color:#000;
    background-attachment: fixed;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#section-1
{
    display: flex;
    background:#ebebeb;
}

#section-1 div
{
    padding:20px;
}

.s1-box-2
{
    min-width: 300px;
    position: center;
    margin: auto;
    align-items: center;
    text-align: center;
}

#section-2
{
    display: flex;
    background:#f4f4f4;
}

#section-2 div
{
    padding:20px;
}

.s2-box-1 img
{
    height: 350px;
}

#section-3
{
    display:flex;
}

#section-3 div
{
    padding:20px;
}

#section-3 .box-1, #section-3 .box-3
{
    min-width: 300px;
    background:#ebebeb;
}

#section-3 .box-2
{
    min-width: 300px;
    background:#f4f4f4;
}

.wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 88vh;
    height: auto;
    margin-top: 40px;
    padding-top: 40px;
}

.form-holder
{
    background: #000;
    width: 420px;
    max-width: 90%;
    padding: 15px 0px;
    opacity: 0.7;
    border-radius: 10px;
    margin: 30px;
}

.form-holder h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.form .form-group {
    display: flex;
    position: relative;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    background: #222;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid #777;
    border-radius: 5px;
    padding-left: 40px;
}

.form-group img {
    width: 26px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.form-group button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border: 2px solid #777;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input:focus{
    background: #444;
    border-color: #3DB58B;
}

.form-group input:hover {
    background: #444;
    border-color: #3DB58B;

}

.form-group button:hover {
    background: #444;
}

.form-group a {
    color: #999;
    text-decoration: none;
    font-size: 15px;
}

.form-group a:hover {
    color: #444;
}

.statement {
    background-color: red;
    text-align: center;
    margin: 10px 30px 5px 30px;
    border-radius: 10px;
}